<%- contentFor('body') %>

<div class="container-lg container-md container-sm">
  <h2 class="">Usuários <span class="text-muted">\ cadastrados</span></h2>
  <div class="table-responsive">
    <table
      class="table table-hover caption-top"
      style="width: 100%"
      id="list"
    >
      <caption>
        Lista de usuários cadastrados
      </caption>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Endereço</th>
          <th>Idade</th>
          <th>Altura</th>
          <th>Vota</th>
          <th class="hidden"></th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
              

            <% let linkRemove="/cadastro/remove/"; %>
            <% let linkUpdate="/cadastro/update/"; %>

            <% if(users.length >0){%>
                <% for(let index=0;index<users.length;index++){ %>
                    <tr data-index-row="<%= index %>">
                    
                    <!-- NAME -->
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].name %></span>
                        <input type="text" name="name"  class="hidden" onfocus="true" value="<%= users[index].name %>" *>
                    </td>

                    <!-- EMAIL -->
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].email %></span>
                        <input type="text" name="email"  class="hidden" value="<%= users[index].email %>">
                    </td>

                    <!-- ENDEREÇO -->
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].address %></span>
                        <input type="text" name="address"  class="hidden" value="<%= users[index].address %>">
                    </td>


                    <!-- IDADE -->
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].age %></span>
                        <input type="number" name="age"  class="hidden" value="<%= users[index].age %>">
                        
                    </td>

                    <!-- ALTURA -->
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].height %></span>
                        <input type="text" name="height"  class="hidden" value="<%= users[index].height %>">
                        
                    </td>

                    <!-- VOTA -->
                    <td data-index-row="<%=index%>">
                        <span  class="show"><%= users[index].vote %></span>
                        <input type="text" name="vote" class="hidden" value="<%= users[index].vote %>">
                    </td>

                    <!-- ATUALIZAR -->
                    <td data-index-row="<%=index%>" class="hidden" data-index-row="<%=index%>">
                        <input type="button" value="Atualizar" class="hidden" >
                    </td>

                    <!-- a funcao update()  foi criada no arquivo script.js presente no diretorio public. Ela fará a modificação dos itens e envio dos dados na forma de uma string para o servidor usando como rta /cadastro/update/ -->
                    <!-- EDITAR -->
                    <td  data-index-row="<%= index %>">
                        <a href="#" onclick="update('<%=index%>','<%= linkUpdate %>');" class="show" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar dados"><i class="bi bi-pencil"></i></a>  
                    </td> 
                    
                    <!-- para passar parametros para uma rota criada basta usar o delimitador "/" entre os valores dos parametros e defini-los no arquivo de rotas usando ":" para separar cada valor, seguido de um nome que identificarar esse valor. Exemplo: /cadastro/remove/:id -->
                    <!-- REMOVER -->
                    <td  data-index-row="<%= index %>">
                        <!-- <a href="#" class="show" onclick="remove('<%=index %>','<%=linkRemove%>')"><i class="fas fa-trash-alt"></i></a> -->
                        <a href="#" class="show" onclick='remove("<%=index %>","<%=users[index].name %>","<%=linkRemove%>");' data-bs-toggle="tooltip" data-bs-placement="top" title="Remover <%= users[index].name %>"><i class="bi bi-trash"></i></a>
                    </td>

                    </tr>
                <% } //for %>
            <% }%>
                  

        </tbody>
        <tfoot>
           <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Endereço</th>
          <th>Idade</th>
          <th>Altura</th>
          <th>Vota</th>
          <th class="hidden"></th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
        </tfoot>
    </table>
  </div>
</div>
